@using System.Globalization
@using System.Threading
@model DietPlanning.Web.Models.PreferencesViewModel

@{
  ViewBag.Title = "Preferences";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preferences</h2>

<div id="CategoryPreferences">

  @foreach (var mainCatPreference in Model.MainCategoryPreferences)
  {
    <div class="MainCategory">
      <label class="main_cat_input_label" for="@mainCatPreference.MainCategory"><a data-toggle="collapse" href="#sub_of_@mainCatPreference.MainCategory">@mainCatPreference.DisplayName</a> </label>
      <input class="main_cat_input" id="@mainCatPreference.MainCategory" type="range" name=@mainCatPreference.MainCategory value="@mainCatPreference.Value.ToString(CultureInfo.InvariantCulture)" step="0.1" min="0.5" max="1.5">
      <div id="sub_of_@mainCatPreference.MainCategory" class="panel-collapse collapse">
        @foreach (var subCatPreference in mainCatPreference.SubCategoryPreferences)
        {
          <Div class="sub_cat_input_container">
            <label for="@subCatPreference.SubCategory"> @subCatPreference.DisplayName</label>
            <input maintCatId="@mainCatPreference.MainCategory" class="sub_cat_input" id="@subCatPreference.SubCategory" type="range" name=@subCatPreference.SubCategory value="@subCatPreference.Value.ToString(CultureInfo.InvariantCulture)" step="0.1" min="0.5" max="1.5">
          </Div>
        }
      </div>
    </div>
  }
</div>

<br />

<h3> Foods to avoid</h3>

<div class="ui-widget">
  <label for="food_name_input">Search </label>
  <input id="food_name_input" size="50">
</div>


<script>
  $(document)
    .ready(function() {
      $("#food_name_input")
        .autocomplete({
          source: findFoods,
          minLength: 1,
          select: function (event, ui) {
            addToDisliked(ui.item.id, ui.item.value);
          }
        });
    });

  function addToDisliked(foodId, foodName) {
    var ul = document.getElementById("disliked");
    ul.insertAdjacentHTML( "beforeend", "<li id=\"" + foodId + "\" class=\"list-group-item\" foodId=\"" + foodId + "\" foodName=\"" + foodName + "\">" + foodName + "<a onclick=\"javascript:removeItem(" + foodId + ");\">Remove</a></li>");
  }

  function findFoods (request, response) {
    var url = '@Url.Action("GetFoods")';
    $.ajax({
      url: url,
      type: "GET",
      dataType: "json",
      data: { term: request.term },
      success: function(data) {
        response($.map(data,
          function(item) {
            return { id: item.Id, label: item.Name, value: item.Name };
          }));
      }
    });
  }

  function removeItem(id) {
    var ul = document.getElementById("disliked");
    ul.removeChild(document.getElementById(id));
  }
</script>

<ul id="disliked" class="list-group">
  @foreach (var food in Model.DislikedFoods)
  {
  <li id="@food.Id" class="list-group-item" foodId="@food.Name" foodName="@food.Name">@food.Name <a onclick="javascript:removeItem(@food.Id);">Remove</a></li>
  }
</ul>

<button onclick="submit();">Save</button>

<script>
  function submit() {
    var mainCategoryPreferences = [];
    var dislikedFoods = [];

    $('.main_cat_input')
      .each(function(i, obj) {
        var mainCatId = $(obj).attr('id');
        var mainCatPreference =
        {
          MainCategory: mainCatId,
          Value: $(obj).val().toString().replace(".",","),
          SubCategoryPreferences: getSubCatPreferences(mainCatId)
        };
        mainCategoryPreferences.push(mainCatPreference);
      });

    $('#disliked li')
      .each(function(i, obj) {
        var food = { Name: $(obj).attr('foodName'), Id: $(obj).attr('foodId') };
        dislikedFoods.push(food);
      });

    $.ajax({
      dataType: "json",
      url: '@Url.Action("Preferences")',
      type: 'POST',
      data: { preferences: {
        MainCategoryPreferences: mainCategoryPreferences,
        DislikedFoods: dislikedFoods
      } }
    });
  }

  function getSubCatPreferences(mainCategory) {
    var subCatPreferences = [];
    $("[maintCatId='" + mainCategory + "']")
      .each(function(i, obj) {
        var subCatPreference =
        {
          SubCategory: $(obj).attr('id'),
          Value: $(obj).val().toString().replace(".",",")
        };
        subCatPreferences.push(subCatPreference);
      });
    return subCatPreferences;
  }

</script>