@model DietPlanning.Web.Models.DailyDietsResultViewModel
@{
  ViewBag.Title = "Diet";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/masonry")

<link href="@Url.Content("~/Content/Diets.css")" rel="stylesheet" type="text/css" />
<h2>Diets</h2>
<div><span>Goal:</span></div>
<div><span>@((int)Model.DietRequirements.Calories) Calories</span></div>
<div><span>@((int)Model.DietRequirements.CarbohydratesRange.Lower) to @((int)Model.DietRequirements.CarbohydratesRange.Upper) g Carbohydrates</span></div>
<div><span>@((int)Model.DietRequirements.FatRange.Lower) to @((int)Model.DietRequirements.FatRange.Upper) g Fats</span></div>
<div><span>@((int)Model.DietRequirements.ProteinRange.Lower) to @((int)Model.DietRequirements.ProteinRange.Upper) g Proteins</span></div>

<div id="masonry">
  @foreach (var day in Model.DailyDietViewModels)
  {
    <div class="day">
      <div>
        <div><span>@((int)day.DietSummary.Calories) Calories</span></div>
        <div><span>@((int)day.DietSummary.Carbohydrates) g Carbohydrates</span></div>
        <div><span>@((int)day.DietSummary.Fat) g Fats</span></div>
        <div><span>@((int)day.DietSummary.Proteins) g Proteins</span></div>
      </div>
      <br />
      @foreach (var meal in day.DailyDiet.Meals)
      {
        var mealIndex = day.DailyDiet.Meals.IndexOf(meal);
        var caloriesRange = Model.DietRequirements.MealCaloriesSplit[mealIndex];

      <div class="meal">
          <span>Meal @(mealIndex + 1)</span>
          <span>@caloriesRange.IsInRange(@day.DietSummary.CaloriesPerMeal[mealIndex]) @((int)day.DietSummary.CaloriesPerMeal[mealIndex]) Calories(@((int)caloriesRange.Lower)-- @((int)caloriesRange.Upper))</span>
          
          @foreach (var recipe in meal.Receipes)
          {
            <div class="recipe">
              <span>@recipe.Name</span>
            </div>
          }
        </div>
      }
      @foreach (var evaluation in day.Evaluations)
      {
        <div><span>@evaluation.Type: @((int)evaluation.Score)</span></div>
      }
    </div>
  }
</div>
<script>
  var container = document.querySelector('#masonry');
  var masonry = new Masonry(container, {
    columnWidth: 60,
    itemSelector: '.day'
  });
</script>
}
