
@using DietPlanning.NSGA
@model DietPlanning.Web.Models.GroupDietViewModel
  
<div class="day">
  @foreach (var evaluation in Model.Evaluations)
  {
    string name = "";
    if (evaluation.Type == ObjectiveType.Cost) { name = "Koszt";}
    if (evaluation.Type == ObjectiveType.Macro) { name = "Błąd norm żyw.";}
    if (evaluation.Type == ObjectiveType.PreparationTime) { name = "Czas przygotowania";}
    if (evaluation.Type == ObjectiveType.Preferences) { name = "Błąd preferencji";}
      if (evaluation.Type == ObjectiveType.Preferences)
      {
      <div><span>@name: @evaluation.Score.ToString("0.##") </span></div>
    }
    else
    {
      <div><span>@name: @((int)evaluation.Score)</span></div>
    }
  }
  <br />
  <table>
    <tr>
      @foreach (var personDiet in Model.PersonDietViewModels)
      {
        <td>
          <div>
            <div><span>@((int)personDiet.DietSummary.NutritionValues.Calories) kcal</span></div>
            <div><span>@((int)personDiet.DietSummary.NutritionValues.Carbohydrates) g Węglowodanów</span></div>
            <div><span>@((int)personDiet.DietSummary.NutritionValues.Fat) g Tłuszczy</span></div>
            <div><span>@((int)personDiet.DietSummary.NutritionValues.Proteins) g Białek</span></div>
          </div>
          <br />
          @foreach (var meal in personDiet.Meals)
          {
            var mealIndex = personDiet.Meals.IndexOf(meal);
            var rangeClass = meal.IsInRange ? "in_range" : "out_of_range";
            var mealCalories = meal.Calories;
            var distanceToRange = meal.IsInRange ? "" : "(" + meal.DistanceToRange + ")";

            <div class="meal">
              <span>Posiłek @(mealIndex + 1):</span>
              <span class="@rangeClass">@mealCalories kcal @distanceToRange</span>
              @foreach (var recipe in meal.Recipes)
              {
                <div class="recipe">
                  <span>@recipe.Name (@(recipe.Amount)g)</span>
                </div>
              }
            </div>
          }
        </td>
      }
    </tr>
  </table>
</div>